<?xml version="1.0" encoding="UTF-8"?>
<OX>
    <OXMENU id="NAVIGATION_ESHOPADMIN">
        <MAINMENU id="mxpersonalization">
            <SUBMENU id="mxpersonalizationeconda" cl="oepersonalizationadmin" list="oepersonalizationgeneral">
                <TAB id="tbcloepersonalizationgeneral" cl="oepersonalizationgeneraltab" />
                <TAB id="tbcloepersonalizationtracking" cl="oepersonalizationtracking" />
                <TAB id="tbcloepersonalizationwidgets" cl="oepersonalizationwidgets" />
                <TAB id="tbcloepersonalizationexport" cl="oepersonalizationexport" />
            </SUBMENU>
        </MAINMENU>
    </OXMENU>
</OX>
